<p>header works!</p>
 <!-- Navigation-->
 <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container px-0 px-lg-0">
        <a class="navbar-brand" href="#!">E-Commerce</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/addproduct">Add Product</a></li>
                <li class="nav-item"><a class="nav-link" href="/viewproduct">View Produuct</a></li>
                <li class="nav-item"><a class="nav-link" href="/addcustomer">Add Customer</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">View Customer</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">View User</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">View Billing Address</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">View Shipping Address</a></li>
                
            </ul>
            
        </div>
    </div>
</nav>
